-# frozen_string_literal: true

-# Don't use `stimco` helper here, since this layout is sometimes used when helpers are not available.
.lexxy-content{ data: { controller: "lexxy-content" } }
  = yield
