-# frozen_string_literal: true
-# locals: (items:, params: {}, css_class: nil)

-# If "slidesPerView" is set to "auto", we need to tell the slide explicitly to only take up as much space as needed.
- slide_css_class = class_names("w-auto": params[:slidesPerView]&.to_sym == :auto)

.swiper{ data: stimco(:swiper, params: params.to_json), class: css_class }
  .swiper-wrapper
    - items.each do |item|
      .swiper-slide{ class: slide_css_class }
        = yield item
  - unless params[:pagination] == false
    .swiper-pagination
  - unless params[:navigation] == false
    .swiper-button-prev
      = icon "circle-left", version: :duotone
    .swiper-button-next
      = icon "circle-right", version: :duotone
