-# frozen_string_literal: true
-# locals: (id:, css_class: nil, cols: nil, offset: {}, margin: 4, images: nil)

= render "baseline/sections/cols", id:, css_class:, cols:, offset:, margin: do |section_i18n_scope, row_cols|
  - t(:items, scope: section_i18n_scope).each_with_index do |item, index|
    = row_cols.with_col do
      = component :card, title: item[:headline], image: images&.[](index), css_class: "h-100" do
        = md_to_html item[:text]
