@import "./partials/lexxy.css";

h1, h2, h3, h4, h5, h6, blockquote {
  text-wrap: balance;
}

body.loading {
  cursor: wait;
}

turbo-frame {
  display: block;
}

i[class^="fa-"] {
  min-width: 12px;
  display: inline-block;
}

label.required::after {
  content: " *";

  .no-required-indicator & {
    content: none;
  }
}

.optional-indicator label:not(.required)::after {
  content: " (optional)";
}
