-# frozen_string_literal: true

- case
- when content
  %div{ class: container_css_class, data: @data }
    = render_image(margin_css_class)
    -# Wrap content in a div to prevent it from being affected by the flex properties of the parent container.
    %div
      = content
- when @data || @css_class
  %div{ class: @css_class, data: @data }
    = render_image
- else
  = render_image
