-# frozen_string_literal: true

- return if @scope.none? || @scope.last_page?

= helpers.turbo_frame_tag :load_more, src: params.permit!.merge(page: @scope.next_page, format: :turbo_stream), loading: :lazy do
  .mt-5.text-center
    = component :loading
