%nav{ class: @navbar_classes, **@options.except(:class) }
  - if @container_classes
    %div{ class: @container_classes }
      - if @brand
        - brand_element = @brand_url == false ? :span : :a
        - brand_attributes = @brand_url == false ? {} : { href: @brand_url }
        - brand_attributes[:class] = "navbar-brand"
        = content_tag brand_element, @brand, brand_attributes
      = content
  - else
    - if @brand
      - brand_element = @brand_url == false ? :span : :a
      - brand_attributes = @brand_url == false ? {} : { href: @brand_url }
      - brand_attributes[:class] = "navbar-brand"
      = content_tag brand_element, @brand, brand_attributes
    = content