-# frozen_string_literal: true

%div{ data: @stimco.to_h }

  #toast-container{ data: data_merge(@stimco.target(:container), turbo_permanent: true) }

  .toast{ data: @stimco.target(:template) }
    .toast-body
      .icons
        = component :icon, :accept, version: :solid, class: "icon-success d-none"
        = component :icon, :warning, version: :solid, class: "icon-error d-none"
      .text
      %button.btn-close{ type: "button", data: { bs_dismiss: "toast" } }
