[data-target="table-empty-state-svg"] {
  display: none;

  div:has(> &) {
    padding-block: 1rem;
  }

  + div {
    margin: 0 !important;
  }
}

[data-field-type="file"] {

  img {
    max-height: 300px;
    width: auto;
  }
}
