* {
  box-sizing: border-box;
}

html[aria-busy="true"] {
  // https://github.com/twbs/bootstrap/issues/38094#issuecomment-1525136083
  scroll-behavior: auto !important;
}

img {
  @include img-fluid;
}

body {
  min-height: 100vh;

  &.loading {
    cursor: wait;
  }
}

ol,
ul {
  padding-left: 1rem;
}

p,
ul,
table {

  &:last-child {
    margin-bottom: 0;
  }
}

turbo-frame {
  display: block;
}

.form-switch input:hover {
  cursor: pointer;
}

.square-xs {
  width: 30px;
  min-width: 30px;
  height: 30px;
}

.square-sm {
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.square-md {
  width: 80px;
  min-width: 80px;
  height: 80px;
}

.square-lg {
  width: 120px;
  min-width: 120px;
  height: 120px;
}

.square-xl {
  width: 200px;
  min-width: 200px;
  height: 200px;
}

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@each $value in (0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000) {
  .width-#{$value} {
    width: #{$value}px;
  }

  .max-width-#{$value} {
    max-width: #{$value}px;
  }

  .height-#{$value} {
    height: #{$value}px;
  }

  .max-height-#{$value} {
    max-height: #{$value}px;
  }
}

.height-300 {
  height: 300px;
}

.height-350 {
  height: 350px;
}

.min-w-fit {
  min-width: fit-content;
}

.no-scrollbar {
  scrollbar-width: none;
}

i[class^="fa-"] {
  min-width: 12px;
  display: inline-block;
}

// "form-control" class is needed for specificity
textarea.form-control:not([rows]) {

  &,
  .form-floating > & {
    min-height: 6rem;
  }
}

label.required::after {
  content: " *";

  :is(.form-floating, .no-required-indicator) & {
    content: none;
  }
}

.optional-indicator label:not(.required)::after {
  content: " (optional)";
}

.btn-group:not(:has(input:checked)) + .button-group-clear {
  display: none;
}
