-# frozen_string_literal: true

%h2
  Login

- if Rails.env.development?

  %p
    Select user to log in as:

    = form_with url: url_for, data: stimco(:autosubmit) do |form|
      = component :form_field, form, :select, :admin_user_id, options: options_from_collection_for_select(AdminUser.all, :id, :name), include_blank: true, label_style: false

- else

  %p
    Please log in with your business Google account:

  = form_with url: url_for, data: { turbo: false } do |form|
    = component :form_actions, form, :submit, submit_label: "Let's go"
