-# frozen_string_literal: true
-# locals: (page:)

- unless page.empty?
  .mt-4.flex.items-center.justify-between.gap-4
    .text-sm.text-base-content.opacity-70
      Page
      = page.index
      - if page.pages_count
        of
        = page.pages_count
    .join
      = link_to "Previous",
        url_for(page: page.previous_index),
        class: ["btn btn-sm join-item", ("btn-disabled" if page.first?)].compact.join(" ")
      = link_to "Next",
        url_for(page: page.next_index),
        class: ["btn btn-sm join-item", ("btn-disabled" if page.last?)].compact.join(" ")
