.card {
  transition: background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, transform 0.15s ease;
}

a.card:hover,
label .card:has(input:checked) {
  border-color: $gray-500;
}

a.card:hover,
label .card:hover {
  background-color: $gray-100;
  box-shadow: $box-shadow-sm;
  transform: translateY(-2px);
}

label .card {

  &:has(input:checked) {
    background-color: $gray-200;
  }

  &:hover {

    &,
    & * {
      cursor: pointer;
    }
  }
}

.card-icon-center {
  @include font-size(3rem);

  max-width: 100px;
  height: auto;
  margin: 1rem auto 1.5rem;
}

.card-icon-left {
  @include font-size(2rem);

  margin-bottom: 1rem;
  line-height: 1;
}

.card-img-top.cover {
  object-fit: cover;
}

.card-body > :last-child {
  margin-bottom: 0;

  li:last-child {
    margin-bottom: 0;
  }
}

.card.diagonal-rounded {
  border-radius: 0 2rem 0 2rem;

  .card-img-top {
    border-top-right-radius: 2rem !important;
    border-top-left-radius: 0 !important;
  }
}
